/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	margin: 0;
}

h1, a{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	color: #bdc3c7;
	margin-top: 80px;
}

p{
	font-family: "Source Sans 3", sans-serif;
	color: #bdc3c7;
}

.profil{
	width: 300px;
	background-color: #31363b;
	padding: 150px 20px 20px 20px;
	position: relative;
	margin: 30px;
}

.foto{
	position: absolute;
	top: 0;
	left: 0;

	padding: 0;
	width: 300px;
}

.logo{
	background-color: #b92e81;
	position: absolute;
	top: 27%;
	right: 13%;
	border-radius: 50%;
}


ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
    color: #bdc3c7;
    text-transform: uppercase;
    text-decoration: none;
	font-weight: 500;
	margin: 0;
}



ul.odkazy {
	list-style: none;   
	padding: 0;         
	margin: 0;         
	width: 300px;   
  }

  ul.odkazy li {
	text-align: center; 
  }

  ul.odkazy li.portfolio {
	display: block;  
	width: 100%;    
  }

  ul.odkazy li:not(.portfolio) {
	display: inline-block; 
	width: 50%;        
	box-sizing: border-box; 
  }
  
  /* Styl pro odkazy */
  ul.odkazy li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	background-color: #31363b;
	border: 1px solid #3f464d;
  }
  
  ul.odkazy li a:hover {
	background-color: #3b5998;
  }