/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	margin: 0;
}

h1, a{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	color: #bdc3c7;
	margin-top: 80px;
	padding: 0 20px;
}

p{
	font-family: "Source Sans 3", sans-serif;
	color: #bdc3c7;
	padding: 0 20px;
}

.profil{
	width: 300px;
	background-color: #31363b;
	padding: 150px 0 0 0;
	position: relative;
	margin: 30px;
	box-shadow: 5px 5px 10px gray;
}

.foto{
	position: absolute;
	top: 0;
	left: 0;

	padding: 0;
	width: 300px;
}

.logo{
	background-color: #b92e81;
	position: absolute;
	top: 27%;
	right: 13%;
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgb(54, 54, 54);
}


ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
    color: #bdc3c7;
    text-transform: uppercase;
    text-decoration: none;
	font-weight: 500;
	margin: 0;
}



ul.odkazy {
	list-style: none;   
	width: 300px;   
  }

 

  li.portfolio{
	display: block;
	padding: 10px 0;
	border-top: 1px solid #3f464d;
	border-bottom: 1px solid #3f464d;
	text-align: center; 
  }

  li.facebook{
	display: inline-block;
	padding: 10px 0;
	border-right: 1px solid #3f464d;
	width: 49%;
	text-align: center; 
  }

  li.twitter{
	display: inline-block;
	padding: 10px 0;
	width: 49%;
	text-align: center; 
  }

  li.facebook a{
	display: inline-block;
  }

  li.twitter a{
	display: inline-block;
  }
  
  ul.odkazy li.facebook a:hover{
	background-color: #3b5998;
  }

  ul.odkazy li.twitter a:hover {
	background-color: #1da1f2;
  }